body{
    background-image: url( about.jpg);
    background-size: 100vmax;
}
.navbar {
    overflow: hidden;
    background-color: #333;
  }
img{
    width: 120px;
    height: 90px;
}
p{
    background-color: whitesmoke;
    opacity: 0.7;
    text-align: center;
    font-family: "Lucida Console", Courier, monospace;
    padding: 70px;
}
h3{
    color: white;
    text-align: right;
}
h4{
    background-color: chocolate;
    opacity: 0.8;
    padding: 4px;
    text-align-last: center;
}
a:link, a:visited {
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: static;
  }
  
  a:hover, a:active {
    background-color: brown;
    color: burlywood;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }